@font-face {
  font-family: 'MinionVariableConcept';
  src: url('fonts/MinionVariableConcept-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'MinionVariableConcept', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  background: url('assets/Background.png') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  height: calc(100vw * 1.5); /* Set height to 1.5 times the width */
  max-height: 100vh;
  max-width: calc(100vh / 1.5); /* Ensure max width fits within vertical aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transform-origin: top left;
}

/* Scale down the wrapper to fit into the available viewport when the aspect ratio is wide */
@media (min-aspect-ratio: 3/2) {
  .wrapper {
    transform: scale(calc(100vh / (100vw * 1.5)));
  }
}

.container {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#start-text {
  font-size: 3.5vw;
  color: black;
  padding: 1vw 2vw;
  border: 2px solid white;
  border-radius: 2vw;
  background-color: white;
  animation: blink 1s step-start infinite;
  cursor: pointer;
  font-weight: bold;
}

#start-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#banner {
  text-align: center;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}

#banner h1 {
  margin: 0;
  font-size: 8vw;
  margin-bottom: 3.5vw;
  font-weight: bold;
}

#banner h2 {
  margin: 0;
  font-size: 4vw;
  margin-bottom: 3vw;
  font-weight: normal;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}

#time {
  font-size: 5vw;
  font-weight: bold;
  color: white;
  margin-right: 5vw;
}

#time-count {
  background: white;
  color: black;
  padding: 0vh 15vw;
  border-radius: 3vh;
  font-size: 5vw;
}

#game-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('assets/Game_background.png') center center no-repeat;
  background-size: cover;
}

#game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  width: 100%;
  position: relative;
  bottom: 2vh;
}

#puzzle-grid-wrapper, #piece-pile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#puzzle-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.3vh;
  background-color: transparent;
  touch-action: none;
  width: 60vw;
  height: 40vh;
  margin: 1vh auto;
}

.grid-cell {
  width: 100%;
  height: 100%;
  border: 0.1vh solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.puzzle-piece {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
  touch-action: none;
  user-select: none;
}

.puzzle-piece.selected {
  border: 2px solid yellow;
  transform: scale(1.1);
}

.hidden-border .grid-cell {
  border: none;
}

#full-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.dragging {
  opacity: 0.5;
}

#piece-pile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4vh;
}

#piece-pile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.3vh;
  background-color: transparent;
  width: 80vw;
  height: 18vh;
  touch-action: none;
  margin: 0 auto;
  justify-content: center;
}

/* Responsive styles */
@media (max-width: 1024px) {
  #banner h1 {
    font-size: 7vw;
  }

  #banner h2 {
    font-size: 3.5vw;
  }

  #time {
    font-size: 5vw;
  }

  #time-count {
    padding: 0vh 15vw;
    font-size: 5vw;
  }

  #puzzle-grid {
    width: 55vw;
    height: 36.67vh;
  }

  .grid-cell, .puzzle-piece {
    width: 100%;
    height: 100%;
  }

  #piece-pile {
    width: 70vw;
    height: 16vh;
  }
}

@media (max-width: 768px) {
  #banner h1 {
    font-size: 6vw;
  }

  #banner h2 {
    font-size: 3vw;
  }

  #time {
    font-size: 5vw;
  }

  #time-count {
    padding: 0vh 15vw;
    font-size: 5vw;
  }

  #puzzle-grid {
    width: 50vw;
    height: 33.33vh;
  }

  .grid-cell, .puzzle-piece {
    width: 100%;
    height: 100%;
  }

  #piece-pile {
    width: 65vw;
    height: 15vh;
  }
}

@media (max-width: 480px) {
  #banner h1 {
    font-size: 5vw;
  }

  #banner h2 {
    font-size: 2.5vw;
  }

  #time {
    font-size: 5vw;
  }

  #time-count {
    padding: 0vh 15vw;
    font-size: 5vw;
  }

  #puzzle-grid {
    width: 45vw;
    height: 30vh;
  }

  .grid-cell, .puzzle-piece {
    width: 100%;
    height: 100%;
  }

  #piece-pile {
    width: 60vw;
    height: 12vh;
  }

  #game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    width: 100%;
    position: relative;
    bottom: 10vh;
  }
}

/* Discount page styles */
#discount-container {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#discount-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#discount-container h1 {
  font-size: 3.6vh;
  margin: 0;
  padding-top: 5vh;
}

#discount-container p {
  font-size: 1.6vh;
  margin: 1vh 0;
}

#discount-container h2 {
  font-size: 7.2vh;
  margin: 2vh 0;
}

/* Image loop page styles */
#image-loop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#image-loop img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#video-container, #image-loop-container img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#video-container video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Result page styles */
#result-container {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#result-message {
  font-size: 8vw;
  font-weight: bold;
  margin: 1vw 0;
}

#banner {
  text-align: center;
}

#banner h1 {
  margin: 0;
  font-size: 8vw;
}

#banner p {
  margin: 0;
  font-size: 2.5vw;
}

#result-container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#result-message {
  z-index: 2;
  font-size: 8vw;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
}

#confetti-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('assets/confetti.gif') center center no-repeat;
  background-size: cover;
  z-index: 1;
  display: none;
}

#result-container.win #confetti-background {
  display: block;
}

#lose-image, #win-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
