body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-container, #game-container, #result-container {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-text {
  animation: blink 1s step-start infinite;
  cursor: pointer;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#puzzle-grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 1px;
  background-color: transparent;
  touch-action: none;
  margin: 0 auto;
}

.grid-cell {
  width: 150px;
  height: 150px;
  border: 1px solid white;
}

.puzzle-piece {
  width: 150px;
  height: 150px;
  background-size: 450px 600px;
  cursor: pointer;
  transition: transform 0.3s;
  touch-action: none;
  user-select: none;
}

.dragging {
  opacity: 0.5;
}

#piece-pile {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(2, 150px);
  gap: 1px;
  margin-top: 20px;
  touch-action: none;
}
